@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none ;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    /* --bg-color:#E32227; */
    --bg-color:#bf0000;
    --second-bg-color:black;
    --text-color:#fff;
    --main-color:#FFDF00;
    --main-color:#FFAA33;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    /* background: rgb(227, 34, 39,0.7); */
    background: rgb(191,0,0,0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;

}
.logo:hover{
    transform: scale(1.1);
    
}
.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    color: var(--text-color);
    font-size: 1.8rem;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar ul li a:hover,
.navbar ul li a.active
{
   color: var(--main-color);
   border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display:none;
}

@media (max-width:768px){
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    
    .navbar{
        display:none;  
        
    }
    .res{

        position: absolute;
        top: 100%;
        right:0;
        width: 50%;
        padding: 1rem 3%;
        background-color: rgba(191,0,0);
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-top-left-radius:2rem ;
        border-top: 0.1rem solid rgba(191,0,0,0.4);
        display:block;
       }
    .navbar.active{
       display: block;
    }
    .header .navbar ul{
        flex-flow: column;
    }
    .header .navbar ul li{
        text-align: left;
        width: 100%;
        border-radius: 0.6rem;
    }
    .header .navbar ul li a{
        display: block;
        padding: 1rem;
        text-align: left;
        font-size: 2rem;
        
    }
    .navbar ul li a:hover,
    .navbar ul li a.active{
        padding: 1rem;
        color: var(--main-color);
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);

    }
}


/* 
home section */

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
  }
  
  .home{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8rem;
      background: var(--bg-color);
  }
  
  .home .home-content h1{
      font-size: 6rem;
      font-weight: 700;
      line-height: 1.3;
  }
  
  span{
      color: var(--main-color);
  }
  .home-content h3{
      font-size: 4rem;
      margin-bottom: 1rem;
      font-weight: 700;
  }
  
  
  .home-content p{
      font-size: 1.8rem;
      font-weight: 500;
  }
  
  .social-icon a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height:4rem;
      background: transparent;
      border: 0.2rem solid var(--main-color);
      border-radius: 50%;
      font-size: 2rem;
      color:var(--main-color);
      margin: 3rem 1.5rem 3rem 0;
      transition: 0.3s ease;
  }
  
  .social-icon a:hover{
      color: black;
      transform: scale(1.3)translateY(-5px);
      background: var(--main-color);
      box-shadow: 0 0 25px var(--main-color);
  }
  
  .btn{
      display: inline-block;
      padding: 1rem 2.8rem;
      background: var(--bg-color);
      border-radius: 4rem;
      font-size: 1.6rem;
      color: var(--main-color);
      border: 2px solid var(--main-color);
      letter-spacing: 0.1rem;
      font-weight: 600;
      transition: 0.3s ease;
      cursor: pointer;
  }
  
  .btn:hover{
      transform: scale(1.03);
      background-color: var(--main-color);
      color: black;
      box-shadow: 0 0 25px var(--main-color);
      
  }
  .typing-text{
      font-size: 34px;
      font-weight: 600;
      min-width: 280px;
  }
  
  .typing-text span{
      position: relative;
  
  }
  .typing-text span::before{
      content: ' ';
      color: var(--main-color);
      animation: words 20s infinite;
  }
  .typing-text span::after{
      content: ' ';
      background:var(--bg-color) ;
      position: absolute;
      width: calc(100%+8px);
      height: 100%;
      border-left: 3px solid var(--bg-color);
      right: -8;
      animation: cursor 0.6s infinite,typing 20s steps(14) infinite;
  
  }
  
  @keyframes cursor{
      to{
          border-left: 3px solid var(--main-color);
      }
  }
  
  @keyframes words{
     0% ,20%{
       content: ' " A Passionate Programmer."';
     } 
     /* 21% ,40%{
      content: ' a ';
    } */
    /* 41% ,60%{
      content: ' web designer';
    }
    61% ,80%{
      content: ' photographer';
    }
    81% ,100%{
      content: ' Youtuber';
    } */
  }
  
  @keyframes typing{
      10%,15%,
      30%,35%,
      50%,55%,
      70%,75%,
      90%,95%{
          width: 0;
      }
      5%,20%,
      25%,40%,
      45%,60%,
      65%,80%,
      85%{
          width: calc(100%+8px);
      }
  
  }
  @media (max-width:1000px){
      .home{
          gap:4rem;
      }
  }
  @media (max-width:995px){
      .home{
          flex-direction: column;
          margin: 5rem 4rem;
      }
      .home .home-content h3{
          font-size: 2.5rem;
      }
      .home-content h1{
          font-size: 5rem;
      }
      .home-img img{
          width:70vw;
          margin-top: 4rem;
      }
      .h2-about{
        margin-bottom: 20rem;
      }
  }
  
/* about section */
.about{
    /* background: #fff; */
    color: white;

}
h2{
    text-align: center;
    font-size: 4rem;
     margin-top: 5rem; 
    margin-bottom: 5rem;
    color: var(--main-color);
}
.about-me{
    /* display: flex;
   justify-content: center;
   align-items: center; */
   font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;

   text-align: center;
   font-size: 2.5rem;
}


/* skills section */
.skills{
    background-color: var(--bg-color);
}

.skills .container{
    background: #e1352c54;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;

}

.skills .container .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.skills .container .bar{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background:var(--bg-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.skills .container .bar:hover{
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}

.skills .container .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.skills .container .bar .info span{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

@media (max-width:600px){
    .skills .container{
        margin: 0;
        padding: 0;
    }
    .skills .container .row{
        grid-template-columns: repeat(2,1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container{
        margin-top: 5px;
        width: 100%;
    }
}


/* projects section */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');




.main{
  max-width: 1200px;
  margin: 0 auto;
}



.proj-img  {
  height: auto;
  max-width: 100%;
  vertical-align: middle;

}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 25%;
  
}

.cards_item {
  display: flex;
  padding: 1rem;
  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color:var(--main-color);
  color:#fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.card_content {
  padding: 1rem;
  
  font-family: "Figtree", sans-serif;
   
    
}

.card_title {
    
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.card_image:hover{
    transform: scale(1.1);
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* 
education section */
.education{
    background: var(--bg-color);

}
.education .timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.education .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background: rgb(90,64,64);
    top:0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}

.education .containers{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

}

.education .containers::after{
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgb(252,252,252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Font Awesome\ 5 Free';
    color: rgb(90,64,64);
}

.education .left{
    left: 0;
}
.education .right{
    left: 50%;
}

.education .left::before{
    content: '';
    height: 0;
    position: absolute;
    top:22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.education .right::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width:0;
    z-index: 1;
    left:30px;
    border: medium solid var(--main-color);
    border-width:10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.education .right::after{
    left: -16px;
}

.education .content{
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.education .content .tag{
   font-size: 1.5rem;
   padding-top: 1.5rem;
   padding-left: 1.5rem;
}

.education .content .decs{
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.education .content .tag h2{
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.education .content .decs p{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

@media (max-width:600px){
    .education .timeline{
        margin-top: 2rem;
    }
    .education .timeline::after{
        left: 31px;
    }
    .education .containers{
        width:100%;
        padding-left: 8rem;
        padding-right: 2rem;
    }
    .education .containers::after{
        font-size: 2.2rem;

    }
    .education .containers::before{
        left: 61px;
        border:medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;

    }
    .education .left::after{
        left:15px;
    }
    .education .right::after{
        left:15px;
    }
    .education .right{
        left:0%;
    }
}

/* footer section */
.heading-contact{
    text-align: center;
    font-size: 4rem;
    /* margin-top: rem;  */
    /* margin-bottom: 3rem; */
    color:white;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color:w;

}
.contact-description{
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

.footer .social a{
    font-size: 25px;
    color: black;
    border:2px solid black;
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-5px);
    background: black;
    color: var(--main-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid black;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
}
.phone{
    text-align: center;
    font-size: 20px;
    color:black;
    margin-top: 4rem;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}